<!DOCTYPE html>
<html>
<head>
<style>
<meta charset="utf-8"

<style>
	button{
		border: none;
 		color: white;
 		text-align: center;
		font-size: 15x
	}
	
	.button1 {
		background-color:red; 
		color: white;
		width: 20%;}

	.button2 {
		background-color:orange; 
		color: white;
		width: 20%;}

	.button3 {
		background-color:violet; 
		color: white;
		width: 20%;}

	.button4 {
		background-color:yellow; 
		color: white;
		width: 20%;}

</style>
</head>
<body>


	<button class="button button1">Wifi_Barris</button>
	<button class="button2">Administració</button>

		<h><font color="red">WIFI_BARCELONA</font></h>

	<button class="button3">Localització_Wifi</button>
	<button class="button4">Visualitzar</button> 
		


</body>
</html>


