

<head>

    <meta charset="UTF-8">
    <title>Title</title>

<style>
	button{
		border: none;
 		text-align: center;
		font-size: 50x
	}

	.button1 {
		background-color:yellow;
		color: coral;
		width: 21%;}

	.button2 {
		background-color:orange;
		color: white;
		width: 21%;}

	.button3 {
		background-color:violet;
		color: white;
		width: 21%;}

	.button4 {
		background-color:red;
		color: white;
		width: 21%;}

</style>
</head>


<body>
<button class="button4">Visualitzar</button>
	<button class="button1">Wifi_Barris</button>
<button onclick="location.href={%url 'districte'%}">blabla</button>

		<h><font color="red">WIFI_BARCELONA</font></h>

	<button class="button3">Localització_Wifi</button>
	<button class="button2">Administració</button>
    <h1 align="center"> Buscar por barrios </h1>

<br>
  <form>

   <label for="barri">Selecciona el barrio visualizaras los  puntos wifi:</label><br>
        <select id="barri" name="get_barris">
            {% for element in todosbarri %}
                <option>{{ element.nom_barri }}</option>
            {% endfor %}
        </select>
      <input type="submit" value="buscar puntos wifi del barrio">
<br>
<table>
  <tr>
    <td>Equipamnet</td>
    <td>Adreca</td>
    <td>telefon</td>
  </tr>
   {% for element in dadesBarri %}
  <tr>
    <td>{{ element.equipament }}</td>
    <td>{{ element.adreca }}</td>
    <td>{{ element.telefon }}</td>
  </tr>
    {% endfor %}
</table>

    </form>
    <br>
</body>
</html>