{%extends "map_modificado.html"%}
{% block cabecera %}
{% endblock %}
{% block buscar_coordenadas %}

<!--    <h1 align="center"> Buscar localizacion </h1>-->

    <br>
  <form>
          <br>
   <label for="equipament">Selecciona el punto Wifi gratuito:</label><br><br>
   <select id="equipament" name="get_equipament">
        {% for element in equipamentall %}
            <option>{{ element.equipament }}</option>
        {% endfor %}
   </select>
      <input type="submit" value="localizar">


<br>


    </form>
    <br>
{% endblock %}