{%extends "map_modificado.html"%}

{% block buscar_coordenadas %}

    <h1 align="center"> Buscar localizacion {{logitud}}</h1>

    <br>
  <form>
   <label for="equipament">Selecciona el punto Wifi gratuito:</label><br>
   <select id="equipament" name="get_equipament">
        {% for element in equipamentall %}
            <option>{{ element.equipament }}</option>
        {% endfor %}
   </select>
      <input type="submit" value="localizar">


<br>

{% for element in wifi %}
 {{ element.longitud }} <br>
 {{ element.latitud }} <br>
    {% endfor %}
    </form>
    <br>
{% endblock %}