<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<html>
    <body>
        <h1 align="center"> FREE WIFI </h1>
        <br>
        <form>
            <label for="nom_barri">Barris:</label>
            <select id="nom_barri" name="get_nom_barri">
                {% for element in barrisall %}
                    <option>{{ element.nom_barri }}</option>
                {% endfor %}
                <!--
                <option value="1">Ciutat Vella</option>
                <option value="2">Eixample</option>
                <option value="3">Sants-Montjuic</option>
                <option value="4">Les Corts</option>
                <option value="5">Sarrià-Sant Gervasi</option>
                <option value="6">Gràcia</option>
                <option value="7">Horta-Guinardó</option>
                <option value="8">Nou Barris</option>
                <option value="9">Sant Andreu</option>
                <option value="10">Sant Martí</option>
                -->
            </select>

            <input type="submit" value="Localizar">
        </form>
         <!--
        {% for barri in barris %}
             <option>{{ barri.nom_barris }}</option>
        {% endfor %}
        -->
    </body>
</html>

