
<html>
    <body>
    <h1 align="center"> FREE WIFI </h1>
    <br>
    <form method="GET" action="/districte">
    <label for="id_districte">Prioridad:</label>
        <select id="id_districte" name="get_iddistricte">
            <option value="1">Ciutat Vella</option>
            <option value="2">Eixample</option>
            <option value="3">Sants-Montjuic</option>
            <option value="4">Les Corts</option>
        </select>
     <input type="submit" value="Filtrar">
     </form>
    </body>
</html>